{% extends 'base.html.twig' %}
{% block body %}


    <h1>Create or Update Category:</h1>

    {{ form_start(form) }}

    <table>
        <tbody>
        <tr>
            <th>Title:</th>
            <td>{{ form_widget(form.title) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
        </tbody>
    </table>

    {{ form_end(form) }}
{% endblock %}