{% extends 'base.html.twig' %}
{% block body %}


    <h1>All Categories</h1>

    {% if categories is not empty %}
        <table>
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.title }}</td>
                    <td><a href="delete-category/{{ cat.id }}">Delete</a></td>
                    <td><a href="update-category/{{ cat.id }}">Update</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(categories) }}
        </div>
    {% else %}
        <p>No Categories found.</p>
    {% endif %}

    <br/>
    <a href="/create-category">Create New</a>

{% endblock %}