{% extends 'base.html.twig' %}
{% block body %}
    <style>
        th, td {
            padding: 10px;
        }

        th {
            text-align: right;
        }
    </style>

    <h1>{{ category.title }}</h1>

    <div class="padded">
        {% if articles is not empty %}
            <div class="container-cat">
                {% for article in articles %}
                    <a href="../view-article/{{ article.id }}">
                        <div class="container-grid article-list">
                            <div class="item-grid article-category" >
                                <p>
                                <h3>{{ article.title }}</h3></p>

                                {{ article.description }}
                            </div>
                            <div class="item-grid list-thumbnail article-category" >
                                <img src={{ asset('uploads/images/' ~ article.imageFilename) }}>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(articles) }}
            </div>
        {% else %}
            <p>No Articles in category.</p>
        {% endif %}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/update-category/{{ category.id }}">Modify</a>
        <a href="/delete-category/{{ category.id }}">Delete</a>
        <a href="/create-category">Create New</a>
    {% endif %}
{% endblock %}