.example-wrapper {
  margin: 1em auto;
  max-width: 800px;
  width: 95%;
  font: 18px/1.5 sans-serif;
}

.example-wrapper code {
  background: #F5F5F5;
  padding: 2px 6px;
}
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}
.login-container{
  float: right;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  //grid-auto-rows: 20px;
  grid-gap: 5px;
}

.item-grid {
  background: yellow;
  text-align: left;
  border: 1px solid black;
}


.list-thumbnail > img {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
  padding: 5px;
  width: 400px;
}
.article-category{
  border: none ;
  margin-bottom: 10px;
  background-color:lavender;
}
.article-list{
  grid-gap: 0px;
}
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
.padded{
  padding: 10px;
}
$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';