<h1>Top 10 Categories</h1>

{% if categories is not empty %}
    <table>

        <tbody>
        {% for cat in categories %}
            <tr>
                <td>{{ cat.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Categories found.</p>
{% endif %}

<h1>Top 10 Articles</h1>

{% if articles is not empty %}
    <table>

        <tbody>
        {% for art in articles %}
            <tr>
                <td>{{ art.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Categories found.</p>
{% endif %}

