<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/global.css') }}" />
    {% endblock %}
</head>
<body>
<div class="topnav">
    <a class="button" href="{{ url('landing_page') }}">Home</a>
    <div class="login-container">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="/logout" class="button">Log out</a>
        {% else %}
        <a href="/login" class="button">Login</a>
        {% endif %}
    </div>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>