{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a href="create-category">Add category</a> {% endif %}
    <div class="container-cat">
        {% for name, item in categories %}
            <h1><a href="view-category/{{ item.id }}">{{ item.title }}</a>
            </h1> {% if is_granted('IS_AUTHENTICATED_FULLY') %} <a href="delete-category/{{ item.id }}">Delete</a> <a
                href="update-category/{{ item.id }}">Update</a> {% endif %}

            {% for article in articles[name] %}
                <a href="../view-article/{{ article.id }}">
                    <div class="container-grid article-list">
                        <div class="item-grid article-category">
                            <p>
                            <h3>{{ article.title }}</h3></p>
                            {{ article.description }}
                        </div>
                        <div class="item-grid list-thumbnail article-category">
                            <img src={{ asset('uploads/images/' ~ article.imageFilename) }}>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
