{% extends 'base.html.twig' %}
{% block body %}


    <h1>{{ article.title }}</h1>

    <a href="/create-comment/{{ article.id }}">Add new Comment</a>
    <div class="new_comment">
        <ul class="user_comment">
            {% if comments is not empty %}
                {% for comment in comments %}
                    <li>
                        <div class="comment_body">
                            <p>{{ comment.body }}</p>
                        </div>
                        <div class="comment_toolbar">

                            <!-- inc. date and time -->
                            <div class="comment_details">
                                <ul>
                                    <li><i class="fa fa-calendar"></i> {{ comment.createdAt|date('Y-m-d') }}</li>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li><a href="../delete-comment/{{ comment.id }}/{{ article.id }}">Delete
                                                comment</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}

        </ul>

    </div>
{% endblock %}
