{% extends 'base.html.twig' %}
{% block body %}

    <h1>Create or Update Article:</h1>

    {{ form_start(form) }}

    <table>
        <tbody>
        <tr>
            <th>Title:</th>
            <td>{{ form_widget(form.title) }}</td>
        </tr>
        <tr>
            <th>Author:</th>
            <td>{{ form_widget(form.description) }}</td>
        </tr>
        <tr>
            <th>Article Body:</th>
            <td>{{ form_widget(form.body) }}</td>
        </tr>
        <tr>
            <th>Article Image:</th>
            <td>{{ form_widget(form.image) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
        </tbody>
    </table>

    {{ form_end(form) }}

{% endblock %}