{% extends 'base.html.twig' %}
{% block body %}


    <h1>{{ article.title }}</h1>

    <table>
        <tbody>
        <tr>
            <th></th>
            <td>
                <img src={{ asset('uploads/images/' ~ article.imageFilename) }}>
            </td>
        </tr>
        <tr>
            <td><p>{{ article.description }}</p></td>
        </tr>
        <tr>
            <td>
                {% if article.categories is not empty %}
                    {% for category in article.categories %}
                        <a href="view-category/{{ category.id }}">{{ category.title }}</a>
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Article Body:</th>
            <td>{{ article.body }}</td>
        </tr>
        <tr>
            <th>created at:</th>
            <td>{{ article.createdAt|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <td><a href="../comments/{{ article.id }}">Comments</a></td>
        </tr>
        </tbody>
    </table>

    <br/>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/update-article/{{ article.id }}">Modify</a>
        <a href="/delete-article/{{ article.id }}">Delete</a>
        <a href="/create-article">Create New</a>
    {% endif %}
{% endblock %}